@media screen and (min-width: 640px) {
  .scroll-styled::-webkit-scrollbar {
    width: 4px; /* width of the entire scrollbar */
  }

  .scroll-styled::-webkit-scrollbar-track {
    background: none; /* color of the tracking area */
  }

  .scroll-styled::-webkit-scrollbar-thumb {
    /* background-color: #DC93CB; color of the scroll thumb */
    background-color: none;
    border-radius: 20px; /* roundness of the scroll thumb */
    width: 4px;
    /* border: 3px solid orange; creates padding around scroll thumb */
  }
}
